DELETE FROM lum_CfgEnvironmentConf;

INSERT INTO lum_CfgEnvironmentConf (id, type, fileSystemImplementation, javaMelodyEnabled, bigDataRepositoryType, esClusterName,esConnectionAddresses,esHttpConnectionAddresses, esBulkConcurrentRequests, useUserGroupsSessionCache) 
VALUES(  '000000000A00000000000A0000100000', '{{ lumis_environment_type }}','lumis.portal.filesystem.impl.SingleCopyFileSystem', 1,'ELASTICSEARCH_TRANSPORT_CLIENT', '{{ lumis_elasticsearch_cluster_name }}', '{{ lumis_elasticsearch_http_9300 }}', '{{ lumis_elasticsearch_http_9200 }}', 10,1);

UPDATE lum_Website set webRootPath='{{ lumis_static_path }}' where name ='default';

INSERT INTO lum_PCQueue (id, queueId, onDemandOnly, deleteOutdated , shadowCacheEnabled, isolated,maxErrorCount, errorPriorityDecrement, errorGenerationDelay, autoBulkExpiration )
VALUES ('FF8080816DCFAEE0016DD064A818091B', 'default', 0, 0, 0, 0, 10, 500, 60, 1);

COMMIT;